.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 59px;
  margin-bottom: 59px;
}

h1 {
  color: #333;
}

.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.option {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.submit-button {
  background-color: #28a745;
}

.submit-button:hover {
  background-color: #218838;
}

.remove-button {
  background-color: #dc3545;
  margin-top: 10px;
}

.remove-button:hover {
  background-color: #c82333;
}

.result {
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f9ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 500px;
  margin: 20px auto;
}

.result h2 {
  color: #007acc;
  font-size: 24px;
  margin-bottom: 15px;
  border-bottom: 2px solid #007acc;
  padding-bottom: 5px;
}

.result-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 18px;
}

.result-label {
  font-weight: bold;
  color: #333;
}

.result-value {
  color: #007acc;
  font-weight: 600;
}

